.center-chats {
    font-family: Times New Roman;
    position: absolute;
    top: 5%;
    left: 5%;
    /* height: 80%; */
    /* : 20pt; */
    /* position: fixed;
    bottom: 100; */
    /* height: 200px; */
    background-color: rgb(248, 249, 250);
}


.top-row {
    height: 60px;
    width: 100%;
    background-color: lightgray;
}

.down-row{
    height: 40px;
    width: 100%; 
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.row{
    height: 90vh;
}
/* delete */

/* .container {
    display: grid;
    grid-template-rows: 100px 300px;
    height: 100%;
  } */

#TypingMessage{
    border-radius: 3px;
    height: 70%;
}

/* .contact{
    height: 80px;
    width: 230px;
    float: right;
    position: relative;
    right: 200pt;
    top: 30pt;
    text-align: left;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;

} */

#leftMenu {
    color: white;
    padding: 0;
    border-right: 1px solid #dee2e6;

    display: flex;
    flex-direction: column;
    height: 100%;
}

#chats {
    padding: 0;
    position: relative;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nameContact {
    text-align-last: left;
    margin-top: 0;
    display: inline-block;
    width: 53%;
}

.scroll {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 90vh;
}

.modal-content{
    background: #dbccdb;
    color: black;
}


/* icons */
.bi-person-plus{
    cursor: pointer;
 
}

.bi-paperclip{
padding: auto;
}
.bi-send{
    padding: auto;

}

/* .list-group-item{
    padding: 0;
} */


/* .container{
    height: 100%;
} */

.bi-send {
    font-size: x-large;
    cursor: pointer
}

.chat-name{
    font-weight: bold;
}

/* .last-message{
    flex-grow: 1;
    overflow: hidden;
    font-size: 14px;
    /* font-weight: 400; */
    /* line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap; */
    /* max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex; */
/* } */ 


.last-message{
    overflow-x: hidden;
}


.time-ago{
    font-size: 10pt;
    display: inline-block;
    width: 25%;
    text-align: center;
}






