.textBox{
    margin: 30pt;
}

.allChat{
    overflow: auto;
}


.recieve-message{
    /* position: absolute;
    left: 0; */
    border-radius: 10px;
    margin: 30px;


    position: relative;
    display: flex;
    flex-direction: column;
    
    /* align-items: flex-start */
        /* justify-self: end; */
    /* display: flex;
    display: table;

    align-items: flex-end  */
}

.send{
  align-items: flex-start;

}

.get{
  align-items: flex-end;

}


/* .alert-success{
  align-items: flex-start
  flex-direction: row;
}

.alert-warning{
  flex-direction: row-reverse;
} */

.sizeImage{
  width: 200px;
  /* height: 50px; */
}


/* :root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
 
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 600px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    background-color: #579ffb;
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  } */

/* 
  .u1{
    float: left;
    clear: both;
    border-top-left-radius: 10px;
}
.u1:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid #72b8ff;
    border-top: 5px solid #72b8ff;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
} */


/* .send-message{
    /* position: absolute;
    right: 0; */
    /* border-radius: 10px;
    margin: 30px;

} */ 


/* .text-message {
    position: right;
    position: relative;
    bottom: 10%;
    text-align: left;
    border-radius: 10px;
} */


.message-scroll{
    flex: 1 1 auto;
    overflow-y: auto;
    height: 75vh;
}






