.attchment-icon{
font-size: xx-large;
cursor: pointer;

}

#mic{
position: absolute;
top: 80%;
left: 2%;
background-color: rgb(66, 91, 233);

}

.popover{
    background-color: transparent;
    border-color: transparent;
}

.bi-paperclip {
    font-size: x-large;
    cursor: pointer;
}

/* delete */

/* .bs-popover-auto[data-popper-placement^=top]>.popover-arrow, .bs-popover-top>.popover-arrow {
    bottom: calc(null)
} */

.chooseImage{
    display: none;
} 


.mic-color{
    background-color: aqua;
    border-radius: 10px;
    /* margin-top: 50pt; */
}



.file-color{
    background-color:aquamarine;
    border-radius: 10px;
}


.image-color{
    background-color: plum;
    border-radius: 10px;
}


.video-color{
    background-color: rgb(240, 174, 162);
    border-radius: 10px;
}


.margin-from-mic{
    margin-top: 10pt;
}
