
  .form-control{
    height: 60%;
    width: 100%;
    border-radius: 15px;
  }

  .center {
    font-family: Times New Roman;
    text-align:start;
    margin: auto;
    width: 30%;
    padding: 60px;
    position: relative;

  }

  #notValid {
      color: red; 
      font-size: 14pt;
  }

  #weak {
      color: orange;
      font-size: 14pt;

  }

  #strong {
    color: green;
    font-size: 14pt;

  }

  /* .h1{
    font-family: Times New Roman;

  } */

