.bi-info-circle {
  position: absolute;
  top: 30%;
  left: 101%;
}

#notValid {
  color: red;
  font-size: 12pt;
}

#weak {
  color: orange;
  font-size: 12pt;
}

#strong {
  color: green;
  font-size: 12pt;
}

#image {
  width: 80%;
  margin: auto
}
